<div class="container">
    <div class="row">
        <h1>Iniciar sesion</h1>
        <i class="material-icons" style="font-size: 200px;">person</i>
  
        <!-- email -->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su email: </mat-label>
            <input [(ngModel)]="usuarios.email" matInput required>
        </mat-form-field>
        
        <!--contraseña-->
        <mat-form-field>
            <mat-label>Ingrese una contraseña:</mat-label>
            <input [(ngModel)]="usuarios.contrasena" matInput [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        
        <button class="boton" mat-raised-button color="primary" (click)="iniciar">Ingresar</button>
        <button class="boton" mat-raised-button color="primary" (click)="salir">Cerrar sesion</button>
    </div>
</div>