<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>My App</span>
   <span class="example-spacer"></span>
   <button mat-icon-button routerLink="/registro">

    <!--registro-->
     <mat-icon>person_add</mat-icon>
   </button>

   <!--login-->
   <button  mat-icon-button routerLink="/login">
    <mat-icon>person</mat-icon>
   </button>

   <!-- ... -->
   <button  mat-icon-button routerLink="/login">
    <mat-icon>person_off</mat-icon>
   </button>
 </mat-toolbar>
