<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>My App</span>
   <span>Pets</span>

   <!--enrutamos paginas-->
   <button mat-button routerLink="/inicio">Inicio</button>
   <button mat-button routerLink="/nosotros">Nosotros</button>
   <!--menu despeglable para productos-->
   <button mat-button [matMenuTriggerFor]="menu">productos</button>
   <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/productos">productos</button>
    <button mat-menu-item routerLink="/accesorios">accesorios</button>
    <button mat-menu-item routerLink="/esculturas">esculturas</button>
    <button mat-menu-item routerLink="/obras">obras</button>
  </mat-menu>
   <button mat-button routerLink="/admin">Admin</button>

   <span class="example-spacer"></span>

  <!--Menu despegable para usuarios (registro y login)-->
   <!--va a contener los formularios de acceso -->
   <button mat-button [matMenuTriggerFor]="user"><mat-icon>person</mat-icon></button>
   <mat-menu #user="matMenu">
    <button mat-menu-item routerLink="/login">Iniciar sesion<mat-icon>person</mat-icon></button>
    <button mat-menu-item routerLink="/registro">Registrarse<mat-icon>person_add</mat-icon></button>
  </mat-menu>

   